<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <div id="about-us" class="clear">
      <!-- ####################################################################################################### -->
      <section id="about-intro" class="one_third first">
        <h2>Online Voting System</h2>
        <div class="panorama"></div>
        
        <blockquote>
          <p><span>&ldquo;</span> For many years voting systems have been used in order to determine the opinion of a subtraction of people. The political elections (also often referred to “electoral systems”) are part of the general term of voting systems. In addition, many teachers/lecturers use voting systems to determine how students understand parts of the lectures by adding questions and analyze the responses from the students. 
</p>
 </section>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
        
      <section id="skillset" class="one_third">
        <br>
        <p>Ever since the Digital Revolution people increasingly use technology and it has become part of our lives. Naturally, voting systems turn to online voting systems. The absence of need for any external devices except the mobile phone, tablet, laptop device, desktop computer or any other device with access in the internet and a browser application makes online voting systems an ideal way to help teachers/lecturers to monitor the understanding of their students and make the lecture more interesting at the same time. </p>
        <p>This dissertation emphasizes on the implementation of such web application, which can work effectively with any device, providing polls and questions and provide charts with the responses, which can be downloaded as various file-types.
</p>
        <p>
            The produced system is developed using Agile methodology and it is implemented as an open source application. It is written with ruby on rails programming language using Model-View-Controller (MVC) system architecture and SQLite for the design and maintenance of the database. The client side was implemented using HTML5, CSS3 and JQuery. The authorisation/authentication system was built with the help of devise gem/library and the were produced using the lazy_high_charts gem/library. 

            
        </p>
      </section>
   
        <section id="skillset" class="one_third">
            <br>
            <h2>Main Features:</h2>
        <ul>
            
            	<li>Full access by lecturer (monitor)</li>
            	<li>1-1 access code-poll</li>
            	<li>Student CRUD</li>
                <li>Access Codes with period by lecturer</li>
            	<li>Anonymos Responses</li>
            	<li>Open Source</li>
            	<li>Authorization, authentication check-ups</li>
            	
        </ul>
        </section>
      <!-- ####################################################################################################### -->
    </div>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>