<!-- DC Contact Form Start -->
<h1> Contact Us</h1>
  <div style="margin-bottom:20px; padding:20px 20px 0; color:#ccc; background:#000000; border:1px solid #000; border-radius:8px;">
    <form action="" class="tsc_form_contact_dark">
      <label for="name">Name <span>(required)</span></label>
      <input type="text" name="name" class="form-input" required />
      <label for="email">Email <span>(required)</span></label>
      <input type="email" name="email" class="form-input" required />
      <label for="subject">Subject <span>(optional)</span></label>
      <input type="text" name="subject" class="form-input" />
      <label for="message">Message <span>(required)</span></label>
      <textarea name="message" class="form-input" required></textarea>
      <input class="form-btn" type="submit" value="Send Message" />
    </form>
    </div> 
<!-- DC Contact Form End -->